@import 'global/variables';
@import 'global/type';
@import 'components/forms';
@import 'components/buttons';

html,
body,
.page-content {
  height: 100%;
  min-height: 100vh;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hidden {
  display: none;
}
