$orange: #FD5825;
$orange-darken: #B0340D;
$parchment: #fafafa;
$mine-shaft: #222222;

* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
}
body {
  background: $parchment;
  text-align: center;
  border: 6px solid #222;
  padding: 24px;
}

h1 {
  font-family: 'lora', serif;
}
.astro {
  width: 100%;

  img {
    border-radius: 50%;
  }
}
picture {
  margin: 2rem auto;
  max-width:100%;
  
}
.main {
  display: flex;
  flex-direction: column;
  height:100%;
  text-align:center;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  body {
    border: 16px solid rgba(0, 0, 0, .8);
    padding: 80px;
  }
}