label {
  &.sr-only {
    display: none;
  }
}

input[type=text],
input[type=email],
textarea {
  background-color: $light-pink;
  border: 0;
  border-bottom: 2px solid $purple;
  box-shadow: 0;
  transition: all 300ms ease;
  font-size: 1rem;
  line-height: 2;
  padding: .5rem 1rem;
  width: 100%;

  &:focus,
  &:active {
    outline: 0;
    background-color: $light-pink_hover;
    border-bottom: 2px solid $purple_hover;
  }

  &::placeholder {

  }
}

form {
  width: 100%;
  max-width: 380px;
}
