<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
      <p class="welcome"> 👋 hello</p>

      <form name="contact" method="POST" netlify>
        <p class="hidden">
         <label>Don’t fill this out if you're human: <input name="bot-field"></label>
       </p>
        <p>
          <label>Your Name: <input type="text" name="name"></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email"></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
    </main>

    {%- include footer.html -%}

  </body>

</html>
